body {
  background-color: gray;

}

h3 {
  color: white;
  font-size: 40px;
   text-decoration: overline underline black double 5px;
  letter-spacing: 2px;
  line-height: 1.8;
  word-spacing: 5px;
   text-shadow: 2px 2px pink;
}

h3:hover{
  font-size: 40px;
  color: black;
  text-shadow: 2px 2px white;
}

img {
  width: 28%;
  border-radius: 20%
}
img:hover {
  transform: scaleX(-1);
